* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  background-color: #1992d4;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  color: white;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 1fr 5fr 6fr;
  background-color: #1992d4;
  min-height: 100vh;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

.logo-image {
  width: 30px;
  height: 30px;
}

.navigation,
.extra-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation > div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

.extra-navigation > div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 30px;
}

.right-side {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.header {
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 60px 0px 40px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  border: none;
  background-color: #e2e8f0;
  border-radius: 20px;
  padding: 5px 50px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 60px 0px 40px;
}

.header-bottom-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-big {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-content {
  background-color: #e2e8f0;
}
